body {
  margin : 0;
  padding: 0;
  font-family: sans-serif;
}

*, *::before, *::after {
    box-sizing: inherit;
}

.TopHeaderContext {
  color  : white;
  display: flex;
  justify-content: space-between;
  margin-left: -30px;
  margin-right: -30px;
}

.TopHeaderBackground {
  background-color: #222;
  padding         : 5px 0;
}

.fa-phone-alt,
.fa-envelope {
  color: #ff7d06 !important;
}

.call-msg-item {
  list-style   : outside none none;
  font-size    : 14px;
  margin-top   : 2px;
  margin-bottom: 2px;
  text-decoration: none;
}

.call-msg-item a:hover  {
  color: white;
  text-decoration: none;
}

.call-msg-item a {
  color: rgba(255, 255, 255, 0.78);
  text-decoration: none;
  font-size    : 14px;
  margin-left: 3px;
}

.Call-msg {
  display: flex;
}

.Footer-Menu-Container {
  overflow: hidden;
  padding: 70px 0;
  color: #fff;
}

.Site-Branding {
  float: left;
  font-size: 27px;
  line-height: 0.8;
  margin-bottom: 0;
  padding: 0 15px;
}

img {
    height: auto;
    max-width: 100%;
}

.Site-Branding a {
  color: #222;
}

.Custom-Logo-Link {
  float: left;
  margin-right: 15px;
}

.Right-Navbar {
  float: right;
  padding: 0 15px;
}

.Main-Navbar {
  background: transparent;
  clear: both;
  transition: all 0.5s ease-in-out 0s;
/*   margin-top: 10px;
  margin-bottom: 5px */;
}

.Primary-Menu {
  display: block;
  margin: 0;
  padding: 0;
  list-style: disc;
}

.Inner-Wrapper {
  margin-left: -15px;
  margin-right: -15px;
  display: flex;
  align-items: center;
}

.Dropdown::after {
  content: "hello";
  font-family: FontAwesome;
  margin-left: 10px;
  margin-right: 0;
  position: absolute;
  right: 10px;
  top: 15px;
  border: 1px solid red;
}

.Main-Navigation li:before {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 15%;
  height: 3px;
  background-color: #ff6700;
  -webkit-transition: all 0.33s ease-out;
  -moz-transition: all 0.33s ease-out;
  -o-transition: all 0.33s ease-out;
  -ms-transition: all 0.33s ease-out;
  transition: all 0.33s ease-out;
  opacity: 0;
}

.Main-Navigation li::after {
  background: #ff6700 none repeat scroll 0 0;
  border-radius: 100%;
  content: "";
  display: block;
  height: 4px;
  position: absolute;
  right: -25px;
  top: 47%;
  width: 4px;
}

.Main-Navigation li {
  display: inline-block;
  margin-bottom: 0;
  position: relative;
  margin-right: 50px;
}

.Custom-Card-Button {
  border-color:#7a7a7a !important;
}

.Footer-Menu-Header {
  border-bottom: 1px dotted;
  color: #dddddd;
  font-size: 20px;
  margin-bottom: 10px;
  padding-bottom: 10px;
}

.Footer-Menu-List {
  list-style: none;
  margin: 0;
  margin: 0 0 0.5em 1em;
  padding: 0;
}

.Footer-Menu-List li {
  font-size: 14px;
  letter-spacing: 0.5px;
  position: relative;
  color: #7a7a7a;
}


.Footer-Menu-List li:before {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 15%;
  height: 3px;
  background-color: #ff6700;
  -webkit-transition: all 0.33s ease-out;
  -moz-transition: all 0.33s ease-out;
  -o-transition: all 0.33s ease-out;
  -ms-transition: all 0.33s ease-out;
  transition: all 0.33s ease-out;
  opacity: 0;
}

.Footer-Menu-List li::after {
  background: #ff6700 none repeat scroll 0 0;
  border-radius: 100%;
  content: "";
  display: block;
  height: 4px;
  position: absolute;
  left: -15px;
  top: 47%;
  width: 4px;
}

.Prefix {
  font-size: 18px;
  font-weight: bold;
  margin-right: 0;
  float: none;
  display: block;
  margin-right: 0;
}

.Number-Ph {
  font-size: 18px;
  font-weight: bold;
  float: none;
  display: block;
  margin-right: 0;
}

.Footer-Menu-List p {
  text-align: right;
  float: none;
  display: block;
  margin-right: 0;
}

.Footer-Bottom {
  background-color: #111;
  clear: both;
  color: #ffffff;
  font-size: 14px;
  padding: 15px 0;
  border-top: 1px solid #202020;
}

.Footer-Bottom-Inner {
  display: flex;
  justify-content: space-between;
}

.Footer {
  background: #111 none repeat scroll 0 0;
}

.Dropdown:hover {
  cursor: pointer;
}

.Dropdown:hover .Dropdown-Content {
  display: block;
}

.Dropdown-Content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 230px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  border: 1px solid #E0E0E0;
}

.Dropdown-Content li {
  border-bottom: 1px solid red;
}

.DropdownTest{
  display: flex;
  flex-direction: column;
  border: 1px solid red;
  min-width: 230px;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 230px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  border: 1px solid #E0E0E0;
}

.DropdownTest p {
  padding: 5px;
  border-bottom: 1px solid green;
  padding-bottom: 0;
  padding-left: 20px;
}

/* .Card2 {
  border: 1px solid black;
  position: relative;
}

.Card2-Img-Wrapper {
  -webkit-background-size: cover;
  background-size: cover;
  background-position: 50%;
  z-index: 1;
}

.Card2-Img {
  width: 42vw;
  height: 25vh;
  border: 1px solid red;
} */


.wrapper {
  display: flex;
  width: 100%;
	justify-content: space-around;
}

.Custom-Card2 {
  width: 350px;
  height: 360px;
  padding: 1.5rem;
  background: white;
  position: relative;
  display: -webkit-box;
  display: flex;
  -webkit-box-align: end;
          align-items: flex-end;
  -webkit-transition: 0.4s ease-out;
  transition: 0.4s ease-out;
  box-shadow: 0px 7px 10px rgba(0, 0, 0, 0.5);
}
.Custom-Card2:hover {
  -webkit-transform: translateY(20px);
          transform: translateY(20px);
}
.Custom-Card2:hover:before {
  opacity: 1;
}
.Custom-Card2:hover .info {
  opacity: 1;
  -webkit-transform: translateY(0px);
          transform: translateY(0px);
}
.Custom-Card2:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  z-index: 2;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  opacity: 0;
}
.Custom-Card2 img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
}
.Custom-Card2 .info {
  position: relative;
  z-index: 3;
  color: white;
  opacity: 0;
  -webkit-transform: translateY(30px);
          transform: translateY(30px);
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.Custom-Card2 .info h1 {
  margin: 0px;
}
.Custom-Card2 .info p {
  letter-spacing: 1px;
  font-size: 15px;
  margin-top: 8px;
}
.Custom-Card2 .info button {
  padding: 0.6rem;
  outline: none;
  border: none;
  background: white;
  color: black;
  font-weight: bold;
  cursor: pointer;
  -webkit-transition: 0.4s ease;
  transition: 0.4s ease;
}
.Custom-Card2 .info button:hover {
  background: #E0E0E0;
  color: white;
}
